<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HP練習</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
   <header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="https://stat.ameba.jp/user_images/20120628/16/myumyupuri/d9/3a/g/t02030038_0203003812051530605.gif">
        </div>
        <span class="menu-icon fa fa-bars"></span>

        <div class="header-right">
          <a href="dummy.html" th:href="@{/dummy}">だみー</a>
          <a href="search.html" th:href="@{/search}">けんさく</a>
          <a href="dummy.html" th:href="@{/dummy}" class="dummy">hogefuga</a>
        </div>
      </div>
    </header>
    <h1 class="top-wrapper">引っ掛かりましたね。</h1>
    <h2 class="heading">このページには何もありませんよ。</h2>
    <a href="result.html" th:href="@{/result}"><span class="btn message col">もどる</span></a>
  </body>
</html>
